.question-detail{
    width: 960px;
    height: 170px;
    margin: 0 auto;
    display: flex;
    border-bottom:solid;
    border-color:black;
}

.edit{
    
    text-align: right;
}

.question-user{
    float: left;
}

.question-user p {
    padding-left: 45px;
}

.question-content{
    padding-top: 60px;
    width: 800px;
    height: 170px;
    text-align: center;
}

.comment-container{
    width: 960px;
    height: 170px;
    margin: 0 auto;
    border-bottom:solid;
    border-color:black;
}

.comment{
    text-align: center;
    padding-top: 15px;
}